#news-detail {
  margin-bottom: 1rem;
}
.news-detail__top {
  height: 300px;
  margin-bottom: 4rem;
  background-image: url("../../img/code23.jpeg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: end;
}
.news-detail__top h1 {
  margin-left: 70px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: var(--color-secondary);
}
.news-detail__bot {
  padding: 0 4rem;
}
.news-detail__img-container {
  width: 100%;
  height: 450px;
  padding: 0 10rem;
}
.news-detail__img-container img {
  width: 100%;
  height: 100%;
}
.news-detail__content-container {
  padding: 0 3rem 0 0;
  font-size: 1.2rem;
}
.news-detail__content-header {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-detail__other-news ul {
  height: 1100px;
  padding: 0 1rem 0 0;
  overflow-y: scroll;
}
.news-detail__other-news ul::-webkit-scrollbar {
  width: 4px; /* scrollbar genişliği */
}

/* Handle */
.news-detail__other-news ul::-webkit-scrollbar-thumb {
  background-color: #888; /* scrollbar rengi */
  border-radius: 4px; /* scrollbar kenar yarıçapı */
}

/* Handle üzerine gelindiğinde */
.news-detail__other-news ul::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* hover durumunda scrollbar rengi */
}
.news-detail__other-news img {
  width: 100px;
  margin-right: 0.5rem;
}

.news-detail__other-news li {
  padding: 1rem 0;
  border-bottom: 1px solid #b9b5b5;
}
.news-detail__other-news li:nth-child(1) {
  border-top: 1px solid #b9b5b5;
}
.news-detail__other-news h3 {
  color: var(--color-secondary);
}
.news-detail__other-news h4 {
  font-size: 1.2rem;
  margin-top: 8px;
}

@media only screen and (max-width: 1300px) {
  .news-detail__img-container {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 992px) {
  .news-detail__top h1 {
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .news-detail__bot {
    padding: 0 2rem;
  }
  .news-detail__other-news {
    margin-top: 5rem;
  }
  .news-detail__content-container {
    padding: 0;
  }
  .news-detail__top h1 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .news-detail__img-container {
    padding: 0 2rem;
  }
  .news-detail__top h1 {
    font-size: 1.7rem;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .news-detail__img-container {
    padding: 0 1rem;
    height: 350px;
  }
  .news-detail__top {
    height: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .news-detail__img-container {
    padding: 0 0rem;
  }
}
